<div class="form-group">
  <label>{{localize "CONAN.talentTreeLabel"}}</label>
  <input
    type="Text"
    name="data.tree"
    value="{{data.data.tree}}"
    data-dtype="String"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentTypeLabel"}}</label>
  <select name="data.talentType" data-dtype="String">
    {{#select data.data.talentType}} {{#each talentTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentActionTypeLabel"}}</label>
  <select name="data.actionType" data-dtype="String">
    {{#select data.data.actionType}}
    <option value=""></option>
    {{#each talentActionTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentActionCategoryLabel"}}</label>
  <select name="data.actionCategory" data-dtype="String">
    {{#select data.data.actionCategory}}
    <option value=""></option>
    {{#each categories as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentPrereqLabel"}}</label>
  <input
    type="Text"
    name="data.prerequisites"
    value="{{data.data.prerequisites}}"
    data-dtype="String"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentRankLabel"}}</label>
  <input
    type="Number"
    name="data.rank.value"
    value="{{data.data.rank.value}}"
    data-dtype="Number"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentRankMaxLabel"}}</label>
  <input
    type="Number"
    name="data.rank.max"
    value="{{data.data.rank.max}}"
    data-dtype="Number"
  />
</div>
<div class="form-group">
  <label>{{localize "CONAN.talentCostLabel"}} xp</label>
  <input
    type="Number"
    name="data.cost"
    value="{{data.data.cost}}"
    data-dtype="Number"
  />
</div>
