<div class="attributes">
  <div class="section-header">
    <h2>{{localize "CONAN.npc.sections.attributes"}}</h2>
  </div>
  <div class="npc-attr-flex">
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.awa">
        {{data.data.attributes.awa.label}}
      </h4>
      <input
        name="data.attributes.awa.value"
        type="Number"
        value="{{data.data.attributes.awa.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.int">
        {{data.data.attributes.int.label}}
      </h4>
      <input
        name="data.attributes.int.value"
        type="Number"
        value="{{data.data.attributes.int.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.per">
        {{data.data.attributes.per.label}}
      </h4>
      <input
        name="data.attributes.per.value"
        type="Number"
        value="{{data.data.attributes.per.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.wil">
        {{data.data.attributes.wil.label}}
      </h4>
      <input
        name="data.attributes.wil.value"
        type="Number"
        value="{{data.data.attributes.wil.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.agi">
        {{data.data.attributes.agi.label}}
      </h4>
      <input
        name="data.attributes.agi.value"
        type="Number"
        value="{{data.data.attributes.agi.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.bra">
        {{data.data.attributes.bra.label}}
      </h4>
      <input
        name="data.attributes.bra.value"
        type="Number"
        value="{{data.data.attributes.bra.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="attribute-name" title="data.attributes.coo">
        {{data.data.attributes.coo.label}}
      </h4>
      <input
        name="data.attributes.coo.value"
        type="Number"
        value="{{data.data.attributes.coo.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
  </div>
</div>
