<div class="tab inventory" data-group="primary" data-tab="inventory">
  <div class="inv-header">
    <ol class="gold">
      <div class="gold-pouch-image"></div>
      <li class="coin-bar">
        <div class="currency-image"></div>
        <span
          ><input
            type="Number"
            title="{{localize 'CONAN.goldPouchTitle'}}"
            name="data.data.resources.gold.value"
            value="{{data.data.resources.gold.value}}"
            data-dtype="Number"
        /></span>
      </li>
      <li class="subtract-gold" title="{{localize 'CONAN.subtractGoldTitle'}}">
        <button type="button">-</button>
      </li>
      <li class="add-gold" title="{{localize 'CONAN.addGoldTitle'}}">
        <button type="button">+</button>
      </li>
    </ol>

    <ol class="upkeep">
        <h3 class="upkeep-header" title="{{localize 'CONAN.upkeepValueTitle'}}">Upkeep</h3>
        <input
                type="Number"
                title="{{localize 'CONAN.upkeepValueTitle'}}"
                name="data.resources.upkeep.value"
                value="{{data.data.resources.upkeep.value}}"
                data-dtype="Number"
                readonly
        />
    </ol>
  </div>

  <ol class="inventory-list directory-list inventory-pane">
    {{#each actor.inventory as |section sid|}} {{#ifCond section.label '!='
    'Consumables'}} {{#ifCond section.label '!=' 'Transportation'}}
    <div class="inventory-header">
      <h3 class="item-name hideable-inventory">{{section.label}}</h3>
      <span class="item-quantity">{{localize "CONAN.quantityLabel"}}</span>
      <span class="item-weight"
        >{{localize "CONAN.encumbranceShortLabel"}}</span
      >
      {{#if ../owner}}
      <div class="item-controls" style="display: flex">
        <a
          class="item-control item-create"
          title="{{localize CONAN.createItemTitle}}"
          data-type="{{sid}}"
          ><i class="fas fa-plus"></i
        ></a>
        <a
          class="item-control inventory-browse"
          title="{{localize CONAN.openInventoryBrowser}}"
          data-type="{{sid}}"
          ><i class="fas fa-search"></i
        ></a>
      </div>
      {{/if}}
    </div>
    <ol class="item-list">
      {{#each section.items as |item itemId|}} {{>
      systems/conan2d20/templates/actors/tabs/item-line.html item=item
      owner=../../owner level=1}} {{/each}}
    </ol>
    {{else}}
    <div class="inventory-header">
      <h3 class="item-name hideable-inventory">{{section.label}}</h3>
      <span class="item-quantity"
        >{{localize "CONAN.transpoPassengerLabel"}}</span
      >
      <span class="item-weight">{{localize "CONAN.transpoStowageLabel"}}</span>
      {{#if ../owner}}
      <div class="item-controls" style="display: flex">
        <a
          class="item-control item-create"
          title="{{localize CONAN.createItemTitle}}"
          data-type="{{sid}}"
          ><i class="fas fa-plus"></i
        ></a>
        <a
          class="item-control inventory-browse"
          title="{{localize CONAN.openInventoryBrowser}}"
          data-type="{{sid}}"
          ><i class="fas fa-search"></i
        ></a>
      </div>
      {{/if}}
    </div>
    <ol class="item-list">
      {{#each section.items as |item itemId|}} {{>
      systems/conan2d20/templates/actors/tabs/item-line.html item=item
      owner=../../owner level=1}} {{/each}}
    </ol>
    {{/ifCond}} {{else}}
    <div class="inventory-header">
      <h3 class="item-name hideable-inventory">{{section.label}}</h3>
      <span class="item-weight">
        {{localize "CONAN.sorceryAvailableUsesLabel"}}
      </span>
      {{#if ../owner}}
      <div class="item-controls" style="display: flex"></div>
      {{/if}}
    </div>
    <ol class="item-list">
      {{#each section.items as |item itemId|}} {{>
      systems/conan2d20/templates/actors/tabs/item-line.html item=item
      owner=../../owner level=1}} {{/each}}
    </ol>
    {{/ifCond}} {{/each}}
  </ol>

  {{#with data.data.encumbrance}}
  <div
    class="encumbrance {{#if isEncumbered}}encumbered{{/if}} {{#if isOverLimit}}over-limit{{/if}}"
  >
    <img
      src="systems/conan2d20/assets/icons/icon-backpack.png"
      alt="Encumbrance"
    />
    <span class="encumbrance-bar" style="width:{{limitPercentageMax}}%"></span>
    <div class="encumbrance-label">
      <span
        >{{localize 'CONAN.encumbranceShortLabel'}}: {{combinedEnc}} /
        {{localize encumbranceFactor.carried}} / {{localize
        encumbranceFactor.fatigue}}</span
      >
      <span>{{localize 'CONAN.encumbranceMaxLabel'}}: {{limit}}</span>
    </div>
    <span class="bar-bg"></span>
  </div>
  {{/with}}
</div>
