<li class="item" data-item-id="{{item.id}}">
  <div class="item-name rollable">
    <div
      class="item-image-inventory"
      style="background-image: url('{{item.img}}')"
    ></div>
    <h4>{{item.name}}</h4>
    {{#if item.hasCharges}}
    <span class="item-charges"
      >({{item.data.data.uses.value}}/{{item.data.data.uses.max}})</span
    >
    {{/if}}
  </div>
  {{#if item.data.data.transpoType}}
  <span class="item-quantity">
    <a class="mount-decrease-pass">&ndash;</a>
    <span>{{item.data.data.passengers.current}}</span>
    <a class="mount-increase-pass">+</a>
  </span>
  <span class="item-weight">{{item.data.data.stowage}}</span>
  {{else}} {{#if item.data.data.enchantmentType}}
  <span class="item-weight">{{item.data.data.encumbrance}}</span>
  <span class="item-quantity">
    <a class="item-decrease-uses">&ndash;</a>
    <span>{{item.data.data.uses.value}}</span>
    <a class="item-increase-uses">+</a>
  </span>
  {{else}}
  <span class="item-quantity">
    <a class="item-decrease-quantity">&ndash;</a>
    <span>{{item.data.data.quantity}}</span>
    <a class="item-increase-quantity">+</a>
  </span>
  <span class="item-weight">{{item.data.data.encumbrance}}</span>
  {{/if}} {{/if}} {{#if owner}}
  <div class="item-controls">
    {{#if item.canBeEquipped}} {{#if item.data.data.broken}}
    <a
      class="item-control item-toggle-broken active"
      title="{{localize CONAN.ui.itemBroken}}"
      ><i class="fas fa-unlink"></i
    ></a>
    {{else}}
    <a
      class="item-control item-toggle-broken"
      title="{{localize CONAN.ui.itemBroken}}"
      ><i class="fas fa-link"></i
    ></a>
    {{/if}}

    <a
      class="item-control item-toggle-equip {{#if item.data.data.equipped}}active{{/if}}"
      title="{{localize CONAN.ui.itemEquipped}}"
      ><i class="fas fa-tshirt"></i
    ></a>
    {{/if}}

    <a class="item-control item-edit" title="{{localize CONAN.editItemTitle}}"
      ><i class="fas fa-edit"></i
    ></a>
    <a
      class="item-control item-delete"
      title="{{localize CONAN.deleteItemTitle}}"
      ><i class="fas fa-trash"></i
    ></a>
  </div>
  {{/if}}
</li>
