.health-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: 'sidebar-health';
}

.sidebar-health {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: max-content;
  grid-template-rows: auto;
  gap: 1px 1px;
  grid-template-areas: 'vigor-container' 'vigor-container' 'vigor-wounds' 'resolve-container' 'resolve-container' 'resolve-traumas';
  grid-area: sidebar-health;
}

.vigor-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: .5fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 'vigor-label vigor-label' 'vigor-value vigor-max';
  grid-area: vigor-container;
  input[type='text'] {
    width: 52px;
    font-size: 32px;
    letter-spacing: -1px;
    height: 32px;
  }

  input[type='number'] {
    width: 52px;
    text-align: center;
    border-bottom: 1px solid transparent;
    &:focus {
      border-bottom: 1px solid var(--tertiary);
    }
  }
}

.vigor-label {
  padding-top: 10px;
  padding-left: 17px;

  h2 {
    color: #bdbcbb;
    font-size: 20px;
    border: transparent;
  }
  grid-area: vigor-label;
}

.vigor-value {
  grid-area: vigor-value;
  font-family: Norse;
  font-weight: 700;
  text-align: center;
  background-image: url('../assets/icons/vigor-display-bright.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .3fr;
  text-align: center;
  input:hover {
    @include input-glow;
  }
  h2 {
    text-align: center;
  }
  input[type='text'] {
    color: white;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    width: 100% ;
    font-size: 32px;
    letter-spacing: -1px;
    height: 100%;
    margin-top: 9px;
  }
}

.vigor-sub {
    margin-top: 5px;
    font-size: 12px;
}

.vigor-max {
  grid-area: vigor-max;
  font-family: Norse;
  font-weight: 700;
  text-align: center;
  background-image: url('../assets/icons/vigor-display.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .3fr;
  input:hover {
    @include input-glow;
  }
  h2 {
    text-align: center;
  }
  input[type='text'] {
    color: #bdbcbb;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 32px;
    letter-spacing: -1px;
    height: 100%;
    margin-top:9px;
  }
}

.vigor-wounds {
  color: #bdbcbb;
  grid-area: vigor-wounds;
  font-size: 12px;
  float: right;
  label {
    color: #bdbcbb;
    padding-left: 25px;
    font-size: 10px;
  }
  span {
    text-align: center;
  }

  .fa,
  .far,
  .fas {
    &:hover {
      @include input-glow;
      color: white;
      cursor: pointer;
    }
  }
  a.wounds {
    &:hover {
      @include input-glow;
      color: white;
      cursor: pointer;
    }
  }
  .fa-star-of-life {
    color: white;
  }
  .fa-skull {
    color: red;
  }
}

.resolve-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: .3fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 'resolve-label resolve-label' 'resolve-value resolve-max';
  grid-area: resolve-container;
  input[type='text'] {
    width: 52px;
    font-size: 32px;
    letter-spacing: -1px;
    height: 32px;
  }

  input[type='number'] {
    width: 52px;
    text-align: center;
    border-bottom: 1px solid transparent;
    &:focus {
      border-bottom: 1px solid var(--tertiary);
    }
  }
}

.resolve-label {
  grid-area: resolve-label;
  padding-top: 10px;
  padding-left: 17px;

  h2 {
    color: #bdbcbb;
    font-size: 19px;
    border: transparent;
  }
}

.resolve-value {
  grid-area: resolve-value;
  font-family: Norse;
  font-weight: 700;
  text-align: center;
  background-image: url('../assets/icons/resolve-display-bright.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .3fr;
  text-align: center;
  input:hover {
    @include input-glow;
  }
  h2 {
    text-align: center;
  }
  input[type='text'] {
    color: white;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 32px;
    letter-spacing: -1px;
    height: 100%;
    margin-top: 9px;
  }
}
.resolve-max {
  grid-area: resolve-max;
  font-family: Norse;
  font-weight: 700;
  text-align: center;
  background-image: url('../assets/icons/resolve-display.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .3fr;
  text-align: center;
  input:hover {
    @include input-glow;
  }
  h2 {
    text-align: center;
  }
  input[type='text'] {
    color: #bdbcbb;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 32px;
    letter-spacing: -1px;
    margin-top: 9px;
    height: 100%;
  }
}

.resolve-sub {
    margin-top: 5px;
    font-size: 12px;
}

.resolve-traumas {
  grid-area: resolve-traumas;
  font-size: 12px;
  float: right;
  color: #bdbcbb;
  label {
    color: #bdbcbb;
    padding-left: 25px;
    font-size: 10px;
  }
  span {
    text-align: center;
  }

  .fa,
  .far,
  .fas {
    &:hover {
      @include input-glow;
      color: white;
      cursor: pointer;
    }
  }
  a.wounds {
    &:hover {
      @include input-glow;
      color: white;
      cursor: pointer;
    }
  }

  .fa-star-of-life {
    color: white;
  }
  .fa-skull {
    color: red;
  }
}

.vigor-bonus {
  z-index: 10;
  position: absolute;
  top: 125px;
  left: 185px;
    .pos {
        font-size: 20px;
        color: white;
    }
    .neg {
        font-size: 20px;
        color: red;
    }
}

.resolve-bonus {
  z-index: 10;
  position: absolute;
  top: 248px;
  left: 185px;
    .pos {
        font-size: 20px;
        color: white;
    }
    .neg {
        font-size: 20px;
        color: red;
    }
}

.fatigue-tracker {
  background-image: url('../assets/icons/fd2-tracker.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  position: absolute;
  top: 125px;
  left: 136px;
  input[type='number'] {
    background: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    font-family: Norse;
    text-align: center;
    border-bottom: 1px solid transparent;
  }
  input:hover {
    @include input-glow;
  }
}

.despair-tracker {
  background-image: url('../assets/icons/fd2-tracker.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  top: 255px;
  left: 136px;
  position: absolute;
  input[type='number'] {
    background: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    font-family: Norse;
    text-align: center;
    border-bottom: 1px solid transparent;
  }
  input:hover {
    @include input-glow;
  }
}
