<div
  class="conan2d20 chat-card item-card"
  data-actor-id="{{actor.id}}"
  data-item-id="{{item.id}}"
  draggable="true"
>
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" />
    <h2>{{item.name}}</h2>
  </header>

  <div class="card-content">{{{data.description.value}}}</div>
  {{#each data.itemDetails as |k v|}}
  <div class="card-content"><b>{{localize k.label}}:</b> {{{k.detail}}}</div>
  {{/each}}

  <div class="card-content">
    <button class="tag npc_damage chat-execute-attack" data-action="npcAttack">
      {{localize 'CONAN.attackRollLabel'}}
    </button>
    <button class="tag npc_damage chat-execute-damage" data-action="npcDamage">
      {{localize 'CONAN.damageRollLabel'}}
    </button>
  </div>

  <footer class="card-footer">
    {{#each data.properties}}
    <span class="tag chat-tag">{{this}}</span>
    {{/each}} {{#each data.qualities}}
    <span class="tag" title="{{this.description}}">{{this.label}}</span>
    {{/each}}
  </footer>
</div>
